@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  font-family: "Graphik", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  color: #212529;
  background-color: #f8fafc;
}
